node_modules
.DS_Store
*.log
*.swp
*.swo
waterwheel.json
# GitBook
_book

# test files
test/**/*.sink*
*.txt

# pipeline output dir
**/work

# pipeline examples output files
*.fastq*
*.bam*
*.sra
*.fna*
*.vcf
