node_modules
.DS_Store
*.log
*.swp
*.swo
waterwheel.json
# GitBook
_book

# test files
test/**/*.sink*
test/files
*.txt

# pipeline output dir
**/data

# pipeline examples output files
*.fastq*
*.bam*
*.sra
*.fna*
*.vcf

# example specific files/folders
examples/pipelines/variant-calling-filtered/adapters
examples/pipelines/variant-calling-filtered/bin
.idea/
